.homepage-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.homepage-container .input-container input{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px;

}
.homepage-container .input-container button{
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}